{% extends 'base.html.twig' %}

{% block title %}Page d'accueil!{% endblock %}

{% block body %}

    <section id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/adomas-aleno-4vrZpOo7fTc-unsplash-ht300pxbanniere.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/adomas-aleno-gQuiE815FMc-unsplash_1-300px.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/adomas-aleno-PIa0zTlIFOw-unsplash-300px.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </section>

    <section class="container">
        <div class="p-t-15 p-b-15">
            <h2>Les promos de la semaine</h2>
            <hr class="H2_underline">
        </div>

        <div class="d-flex flex-wrap justify-content-around justify-content-lg-between card-list">

           <!-- Pour les infos, voir dans la base de données les noms !-->
           {% for item in promoList %}
                <div class="col-12 col-lg-4 card">
                    <img class="p-x-15 p-y-15" src="img/{{ item.product.image }}" alt="">
                    <div class="d-flex flex-wrap promo-list">
                        <div class="col-8">
                            <p class="title">{{ item.product.designation }}</p>
                            <p class="subtitle">{{ item.product.category.title }}</p>
                            <p>{{ item.product.description|length > 50 ? item.product.description|slice(0, 50) ~ '...' : item.product.description  }}</p>
                        </div>
                        <div class="col-4 promo-list_price">
                            <p>{{ item.product.price }} <span>€</span></p>
                        </div>
                    </div>
                </div>
           {% endfor %}
        </div>

        <div class="p-t-15 p-b-15">
            <h2>Nos nouveautés</h2>
            <hr class="H2_underline">
        </div>


        <div class="row d-flex flex-wrap justify-content-around justify-content-lg-between card-list">
            <!-- Pour les infos, voir dans la base de données les noms !-->
            {% for item in newsList %}
                <div class="col-12 col-lg-4 card">
                    <img class="p-x-15 p-y-15" src="img/{{ item.product.image }}" alt="">
                    <p>{{ item.product.designation }}</p>
                    <p>{{ item.product.price }} <span>€</span></p>
                    <p>{{ item.product.category.title }}</p>
                    <p>{{ item.product.description|length > 50 ? item.product.description|slice(0, 50) ~ '...' : item.product.description  }}
                    </p>

                    <button class="add_cart"> Ajouter au panier</button>
                </div>

            {% endfor %}
        </div>
    </section>
{% endblock %}